#header {
    background-color: #000000;
    color: white;
    border-bottom: #FF0000 5px solid;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    font-family: 'Audiowide', cursive;
}
#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header h1{
    font-size: 32px;
}
#header li {
    color: white;
    font-size: 16px;
    display: inline;
    padding: 0 20px;
}
#header a {
    text-decoration: none;
    color: white;
}
#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#spanColor{
    color: #FF0000;
}
#main {
    min-height: 800px;
    background-image: url("images/banner.jpg");
    background-color:black ;
    opacity: 0,9;
    background-size: cover;
    text-align: center;
    color: white;
}
#main h1 {
    font-size: 60px;
    margin: 200px 0 10px;
}
#main p {
    font-size: 30px;
}
#about{
    background-color: #000000;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: Arial;
    padding: 0 10px;
}
#about p{
    font-size: 20px;
    text-align: left;
}
#contact{
    background-color: #000000;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: Arial;
    padding: 0 10px;
}
#contact p{
    font-size: 20px;
    text-align: left;
}
#nav {
    color: white;
}